<div class="container-fluid outerbox">

    <div class="container-fluid  box box1">

       <div class="container logobox">
        <img class="logoimg" src="assets\images\Free_Sample_By_Wix (1).png" alt="Logo">
       </div>
    </div>
    <div class="container-fluid  box box2">

        <div class="container box2-1">
<div  class="welcomediv">
<h1 style="text-decoration: solid;">
    Welcome
</h1>
<p>
    New to the organization ? <br>
    Find people sharing the same interest and connect with them.
    Share your own thoughts and enjoy others.
</p>
</div>

<div class="entryButton">
<button  type="button"  class="btn btn-primary btn-lg btn-dark" style=" width: 126px;
margin: 10px;"(click)="signUp()">Sign Up</button>
<button type="button" class="btn btn-secondary btn-lg btn-dark " style=" width: 126px; 
margin: 10px;" (click)="login()">Login      </button>
</div>

    </div>
</div>
</div>